body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

ul, ol {
    margin: 0 0 20px 20px;
}

li {
    margin-bottom: 10px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

code {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

.parent {
    --gap: 1.5rem;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 2px;
    --line-color: #222;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: var(--gap);
    overflow: hidden;
}

.grid_item {
    position: relative;
}

.grid_item::before, 
.grid_item::after {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
}

.grid_item::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}

.grid_item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-inline-start: calc(var(--line-offset) * -1);
}